<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Already Subscribed</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body
    style="
      background-image: url('img/mobilesky.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
    "
  >
    <div class="container">
      <div class="mainContent">
        <h2>
          The email address you entered is already subscribed
          <img src="img/smile.png" alt="smiley face" id="smileyFace" />
        </h2>
      </div>
    </div>
  </body>
</html>
